<!DOCTYPE html>
<html>
<head>
    <title>STUMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Free LZM STUMS Bootstrap Themes">
    <meta name="author" content="Charuwit Nodthaisong">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/select2.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/asset/css/theme.css">
    <link href="~/Content/mycss.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/asset/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/Chart.min.js"></script>
    <script src="~/Content/asset/js/bootstrap-select.min.js"></script>
    <script src="~/Content/asset/js/main.js"></script>

</head>

<body class="flat-blue sidebar-collapse">
    <div class="sidebar">
        <div class="menu-control toggle-sidebar">
            <a class="navbar-brand" href="#"><i class="fa fa-bar-chart"></i> LZM STUMS</a><!--滑动条打开 网站名称/Logo -->
            <i class="fa fa-bars navicon"></i>
        </div>
        <!-- 菜单栏 -->
        <ul class="menu">
            <li class="submenu">
                <a href="index.html" class="active">
                    <div>
                        <i class="menu-icon fa fa-th-large"></i>
                        <span class="menu-title">Home</span>
                    </div>
                </a>
            </li>
            <li class="submenu">
                <a href="element.html">
                    <div>
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-title">Stu Msg</span>
                    </div>
                </a>
            </li>
            <li class="submenu">
                <a href="table.html">
                    <div>
                        <i class="menu-icon fa fa-table"></i>
                        <span class="menu-title">Class</span>
                    </div>
                </a>
            </li>
            <li class="submenu">
                <a href="form.html">
                    <div>
                        <i class="menu-icon fa fa-file-text-o"></i>
                        <span class="menu-title">Course</span>
                    </div>
                </a>
            </li>

            <li class="submenu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <div>
                        <i class="menu-icon fa fa-slack"></i>
                        <span class="menu-title">Teachers</span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="login.html">
                            <div>
                                <i class="menu-icon fa fa-sign-in"></i>
                                <span class="menu-sub-title">Login</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="register.html">
                            <div>
                                <i class="menu-icon fa fa-pencil-square-o"></i>
                                <span class="menu-sub-title">Register</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="submenu dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                    <div>
                        <i class="menu-icon fa fa-magic"></i>
                        <span class="menu-title">Custom Elements</span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="custom-dashboard.html">
                            <div>
                                <i class="menu-icon fa fa-bar-chart"></i>
                                <span class="menu-sub-title">Dashboard</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="tlinks">Author LZM</div>
    <div class="content-container wrap">
        <!-- 顶部导航栏 -->
        <nav class="navbar navbar-default">
            <div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--滑动条关闭，顶部栏  网站名称/Logo -->
                        <a class="navbar-brand" href="#"><i class="fa fa-bar-chart"></i>LZM STUMS</a>
                    </div>
                    <!-- 顶部右边三个下拉框 -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- 收到信息提示 -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa fa-comments"></i> 0</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-title-bar">
                                    Notification ( 0 )
                                </li>
                                <li class="message">
                                    No new notification
                                </li>
                            </ul>
                        </li>

                        <!-- 预警提示信息 -->
                        <li class="dropdown notification-alert">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-exclamation-circle"></i> 3</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-title-bar">
                                    Notification ( 3 )
                                </li>
                                <li>
                                    <ul class="notification-list">
                                        <li>
                                            <a href="#">
                                                <div class="noti-icon noti-alert">
                                                    <i class="fa fa-exclamation-circle fa-2x"></i>
                                                </div>
                                                <div class="noti-message">1 new registration</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="noti-icon noti-success">
                                                    <i class="fa fa-check fa-2x"></i>
                                                </div>
                                                <div class="noti-message">3 new orders</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="noti-icon noti-primary">
                                                    <i class="fa fa-comments fa-2x"></i>
                                                </div>
                                                <div class="noti-message">2 customers messages</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- 登陆用户的信息 -->
                        <li class="dropdown">
                            @{
                                STUMS.Models.LayoutData ld = STUMS.Models.LayoutData.getUserMsgFromToken(this.Context);
                            }

                            @if (ld.IsLogin)
                            {
                                //用户已登录，显示用户信息

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@ld.UserName<span class="caret"></span></a>
                                <ul class="dropdown-menu user-info">
                                    <li class="dropdown-title-bar">
                                        <img src="images/profile.jpg" class="profile-img">
                                    </li>
                                    <li>
                                        <div class="navbar-login">
                                            <h4 class="user-name">@ld.UserName</h4>
                                            <p>@ld.Email</p>
                                            <div class="btn-group margin-bottom-2x" role="group">
                                                <button type="button" class="btn btn-default"><i class="fa fa-user"></i> 个人信息</button>
                                                <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> 退出登录</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                // 用户没有登录，操作登录框 

                                <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">点击登录<span class="caret"></span></a>
                                <div class="box">
                                    <form id="login-form">
                                        <div class="control">
                                            <div class="label">账号：</div>
                                            <input type="text" id="UUUU" class="form-control" placeholder="XXXXXX" />
                                        </div>
                                        <div class="control">
                                            <div class="label">密码：</div>
                                            <input type="password" id="PPPP" class="form-control" placeholder="******" />
                                        </div>
                                        <div>
                                            <label id="lbl_login_msg"></label>
                                        </div>
                                        <div class="login-button">
                                            <input type="button" onclick="login()" class="btn btn-orange" value="登录" />
                                            <script>
                                                var isLoginClick = false;
                                                function login() {
                                                    if (!isLoginClick) {
                                                        showMsg("", true, true);
                                                        var dic = {
                                                            'UUUU': $('#UUUU').val(),
                                                            'PPPP': $('#PPPP').val()
                                                        };
                                                        if (!dic.UUUU) {
                                                            showMsg("请输入账号！！！", false, false);
                                                            return;
                                                        }
                                                        if (!dic.PPPP) {
                                                            showMsg("请输入密码！！！", false, false);
                                                            return;
                                                        }
                                                        $.post('/API/Lgn', dic, r=> {
                                                            if (r == "OK") {
                                                                showMsg(r, true, false);
                                                                window.location.reload();
                                                            } else {
                                                                showMsg(r, false, false);
                                                            }
                                                        });

                                                        setTimeout(() => { showMsg("登录超时！", false, false); }, 30 * 1000);
                                                    }
                                                }
                                                function showMsg(msg, b, isClick) {
                                                    isLoginClick = isClick;
                                                    $('#lbl_login_msg').text(msg);
                                                    $('#lbl_login_msg').css("color",(b?"green":"red"));
                                                }
                                            </script>
                                        </div>
                                    </form>
                                </div>
                            }

                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <span class="page-title red"><h2>@ViewBag.Title</h2></span>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-xs-12">

                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                        </ol>
                    </div>
                </div>*@
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer">
        <span><i class="fa fa-copyright"></i>STUMS--</span>
    </footer>
</body>

</html>
